:443 {

    @lab {
        not {
            path /file_server*
        }
    }

    @protected {
        path /file_server*
    }

    encode zstd gzip
    tls /etc/caddy/fullchain.pem /etc/caddy/privkey.pem

    reverse_proxy @lab jupyter-lab:8888

    route @protected {
        uri strip_prefix /file_server
        file_server browse {
            root /var/www/files
        }
    }

    basicauth @protected {
        yingyingying JDJhJDE0JGhXanQzUVZENjRjQmpkdExFWC9sVS5nbE53NlZjZDdVRWwxeHhWd0VmRjVLMi5xQ1hIVVYy
    }

}
